.cep-search-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 40px;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.search-container h1 {
  color: #262626;
  font-weight: bold;
  margin-bottom: 12px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-input {
  background-color: #fff;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  height: 40px;
  width: 240px;
  margin-bottom: 25px;
}

.search-input::placeholder {
  color: #d3cccc;
}

.search-button {
  height: 40px;
  width: 160px;
  margin-bottom: 35px;
  color: #fff;
}

.git-card-result-content {
  display: flex;
  flex-direction: row;
}

.git-card-img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.git-card-img p {
  color: rgb(238, 0, 0);
}

.git-card-result {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.git-card-result h5 {
  margin-bottom: 20px;
  color: #1890FF;
}

.git-card-img img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

@media (min-width: 576px) {
  .search-input {
    width: 480px;
  }
}